.header {
    width: 100vw;
    height: 6vh;
    left: 7.5vw;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    z-index: 1;
  }
  
  .logo {
    font-size: 1.75rem;
    color: rgb(200, 200, 200);
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 10rem;
    padding: 10rem;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(150, 150, 150);
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }